PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_NAME=rural40_db
DB_USER=tu_usuario
DB_PASSWORD=tu_contrasena
DB_CONNECTION_LIMIT=10

# SMTP Moshipp
EMAIL_HOST=mail.rural40.ml-ware.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=notificaciones@rural40.ml-ware.com
EMAIL_PASS=tu_contrasena_del_correo
MAIL_FROM=Rural 4.0 <notificaciones@rural40.ml-ware.com>
APP_URL=http://localhost:3000
